<div class="container-bg-plus">
    <div class="divMode1" id="divMode1"></div>
    <div class="row">
        <div class="col-12 main text-center">
            <b class='time-sm' id="time">00:00</b>
            <p class='date-sm' id="date">Понедельник, 20 апреля</p>
        </div>
        <div class="col-2 undo" id="undo">
            < Назад
        </div>
    </div>
    <div class="div-aboutCollege" id="div-aboutCollege">
        <h1>Основные сведения</h1>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <p><img src="http://new.nntc.nnov.ru/sites/default/files/images/nrtk.png" width="0" height="0"/><strong>Государственное бюджетное профессиональное образовательное учреждение «Нижегородский радиотехнический колледж» (ГБПОУ «НРТК»)</strong></p>
                                    <p><em>Организационно-правовая форма:</em> учреждение.<br/>
                                        <em>Тип учреждения:</em> бюджетное.<br/>
                                        <em>Тип образовательной организации:</em> профессиональная образовательная организация.
                                    </p>
                                    <h3>Дата создания</h3>
                                    <p>Учреждение образовано в соответствии с постановлением Президиума Нижегородского Крайисполкома от 16 июня 1930 года № 33 как Нижегородский электротехникум.</p>
                                    <h3>Учредитель</h3>
                                    <p>Учредителем и собственником имущества Учреждения является Нижегородская область.</p>
                                    <p>Функции и полномочия учредителя в отношении Учреждения от имени Нижегородской области осуществляет <a href="http://minobr.government-nnov.ru/">министерство образования, науки и молодежной политики Нижегородской области</a> (ГСП-58, ул. Ильинская.18, г. Нижний Новгород, 603950. Телефон приемной: (831) 433-24-51, телефон/факс: (831) 434-11-90, e-mail: <a href="mailto:official@obr.kreml.nnov.ru">official@obr.kreml.nnov.ru</a>).</p>
                                    <h3>Адрес</h3>
                                    <p>Юридический адрес: 603950, г. Нижний Новгород, ул. Студенческая, д. 6.</p>
                                    <p>Фактический адрес:</p>
                                    <ul>
                                        <li>
                                            <p>603950, г. Нижний Новгород, ул. Студенческая, д. 6 (первый учебно-административный корпус);</p>
                                        </li>
                                        <li>
                                            <p>603153, г. Нижний Новгород, ул. Героя Шапошникова, д. 10 (второй учебный корпус);</p>
                                        </li>
                                        <li>
                                            <p>603022, г. Нижний Новгород, ул. Студенческая, д. 6 «б» (общежитие).</p>
                                        </li>
                                    </ul>
                                    <h3><a href="https://nntc.nnov.ru/contacts">Схема проезда</a></h3>
                                    <h3>Режим и график работы</h3>
                                    <p>понедельник-четверг: с 8.00 до 16.50</p>
                                    <p>пятница: с 8.00 до 16.00</p>
                                    <p>суббота: с 8.00 до 14.00</p>
                                    <p>воскресенье: выходной день</p>
                                    <p>обеденный перерыв: с 12.30 до 13.10</p>
                                    <p><a href="http://nntc.nnov.ru/ruk-vo-i-pedsostav">Контактные телефоны руководства</a></p>
                                    <p><a href="https://nntc.nnov.ru/about/structure">Контактные телефоны, адреса электронной почты</a></p>
                                    <p>В колледже работают квалифицированные педагогические кадры, среди которых 5 кандидатов наук, 1- «Заслуженный учитель РФ», 76% педагогических работников имеют высшую и первую квалификационную категорию, более 45% награждены государственными и отраслевыми наградами.</p>
                                    <p>Для осуществления эффективного образовательного процесса в колледже создана единая информационно-образовательная среда на основе Интернет — ресурсов, функционирует система дистанционного обучения на базе модульной объектно-ориентированной среды Moodle, имеется библиотека электронных образовательных ресурсов, информационно-методический центр с собственным издательским комплексом, интерактивные и мультимедийные классы. В структуре колледжа 2 ресурсных центра, оснащенных уникальным современным высокотехнологичным оборудованием, многофункциональный центр прикладных квалификаций, цель которых реализация дополнительных профессиональных программ и программ профессионального обучения. Деятельность ресурсных центров направлена на трансляцию в образование новых и перспективных технологий производства, реализацию модели сетевого и дуального обучения, осуществление on-linе образования.</p>
                                    <p>Качество предоставления образовательных услуг подтверждено сертифицированной системой менеджмента качества. В учреждении разработана и действует внутренняя система управления качеством. Основой системы стала принятая в 2012 году «Политика в области качества образования» и внедрение в управленческую практику сертифицированной системы менеджмента качества в соответствии с требованиями ГОСТ ИСО 9001. С целью совершенствования управления качеством в Колледже были созданы инновационные структурные подразделения: Центр развития и мониторинга качества образования, Центр развития профессиональной карьеры, Центр содействия трудоустройству выпускников.</p>
                                    <p>Выпускники колледжа востребованы на рынке труда, что обусловлено тесным сотрудничеством с ведущими предприятиями региона. В рамках стратегического партнерства в колледже функционирует Координационный совет, в который входят представители крупнейших предприятий оборонно-промышленного комплекса, органов государственного и муниципального управления, общественных организаций. На заседаниях Координационного совета ежегодно рассматриваются вопросы структуры контрольных цифр приема, что предполагает подготовку выпускника под конкретное рабочее место. Предприятия-партнеры не только предоставляют высокотехнологичные места практик и трудоустройства выпускников, стажировок педагогических работников колледжа, но и оказывают квалифицированную информационно-методическую поддержку образовательного процесса.</p>
                                    <p>При поддержке основного социального партнёра — АО «ФНПЦ «ННИИРТ» — в 2014 — 2015 годах в колледже были реализованы три инновационные образовательные программы, ставшие победителями конкурсных отборов профессиональных образовательных организаций, внедряющих инновационные образовательные программы, в результате которых был создан ресурсный центр по подготовке кадров для предприятий оборонно-промышленного комплекса. В состав ресурсного центра вошли:</p>
                                    <p><strong>— </strong>учебно-производственный полигон, состоящий из учебно-производственной лаборатории станков с программным управлением — Центра технического обучения HAАS; интерактивного компьютерного класса программирования систем ЧПУ; участка механической обработки; сборочно-монтажного участка на 12 рабочих мест;</p>
                                    <p>— IT-парк, в составе: лаборатория телекоммуникаций и цифровой обработки сигнала, аналоговой и цифровой техники; лаборатория информационной безопасности; лаборатория 3D моделирования и прототипирования; лаборатория программирования микроконтроллеров и разработки микропроцессорных систем; лаборатория автоматизированных систем управления; лаборатория сетевых технологий;</p>
                                    <p><strong>— </strong>комплекс современных, оснащенных уникальным оборудованием, учебных лабораторий радиотехнического профиля, в состав которого вошли: лаборатория изучения основ радиолокации; лаборатория современных средств измерений; лаборатория исследования радиотехнических цепей и сигналов; кабинет основ бережливого производства;</p>
                                    <p>— молодежный технопарк (центр молодежного инновационного творчества);</p>
                                    <p>— поливалентный конференц-зал со студией дистанционного обучения.</p>
                                    <p>Ведущая роль колледжа в кадровом обеспечении предприятий ОПК обусловлена высоким качеством подготовки специалистов, о чем свидетельствуют высокие качественные показатели:</p>
                                    <p>— ежегодное выполнение государственного задания по приему и выпуску;</p>
                                    <p>— высокие результаты государственной итоговой аттестации студентов: качество защиты выпускных квалификационных работ составляет более 80%, каждый шестой выпускник имеет диплом с отличием;</p>
                                    <p>— победы студентов и педагогических работников колледжа в профессиональных олимпиадах, конкурсах на региональном, окружном и всероссийском уровнях за последние 3 года: 1 место — Всероссийская олимпиада профессионального мастерства по специальности «Компьютерные системы и комплексы», 2 место — Всероссийская олимпиада профессионального мастерства по профессии «Станочник», 3 место — Всероссийская олимпиада профессионального мастерства по профессии «Монтажник радиоэлектронной аппаратуры и приборов», 3 место — Всероссийская олимпиада профессионального мастерства по специальности «Радиоаппаратостроение», 1 место — Международная олимпиада по информационным технологиям ПФО «IT-ПЛАНЕТА», 2 место — Региональный чемпионат WordSkills Russia по компетенции Графический дизайн, 1 место — Всероссийские чтения — конкурс памяти Каплана, 2 место — областной конкурс «Мастер года — 2013», 2, 3 место — областной конкурс инновационных проектов «РОСТ».</p>
                                    <p>— колледж является лауреатом конкурса «100 лучших Ссузов России».</p>
                                    <p>— 6 студентов колледжа стали лауреатами премии Президента Российской Федерации в номинации «Поддержка талантливой молодежи»;</p>
                                    <p>— 22 студента колледжа получают в 2015-2016 году стипендии Правительства Российской Федерации.</p>
                                    <p>Возможности уникальной учебно-материальной базы, опыт, научно-теоретическая и практическая компетентность педагогических кадров, тесное сотрудничество колледжа и социальных партнеров, участие работников предприятий в подготовке кадров на всех этапах обучения позволят колледжу подготовить кадры «нового формата», готовых и способных работать в условиях современного и наукоемкого производства.</p>
                                    Сегодня можно сказать, что колледж — это территория качества. Мы работаем на конкретный результат и способны ответить на вызовы нового времени.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>