<!--<div class="container-bg-plus" id="containerBgPlus">-->
<div ng-class="vm.mode==='mode1' ? 'container-bg-mftvi' : 'container-bg'" id="containerBgPlus">
    <div class="divMode1" id="divMode1"></div>
    <div class="row">
        <div class="col-12 main text-center">
            <b class='time-sm' id="time">00:00</b>
            <p class='date-sm' id="date">Понедельник, 20 апреля</p>
        </div>
        <div class="col-3 undo" id="undo">
            < Назад
        </div>
    </div>
    <div class="row row-for-block">
        <div class="col-6 no-margin no-padding">
            <div class="block-work-schedule-SE-l">
                <div class="row header-work-schedule" id="divHeaderAboutCollege"></div>
                <div class="row text-work-schedule" id="divTextWorkSchedule"></div>
            </div>
        </div>
        <div class="col-6 no-margin no-padding m">
            <div class="block-work-schedule-r" id="divGovernance">
                <div class="row header-work-schedule">Контактные телефоны руководства</div>
            </div>
            <div class="block-work-schedule-r-down" id="divStructureAndGoverningBodies">
                <div class="row header-work-schedule">Контактные телефоны, адреса электронной почты</div>
            </div>
        </div>
    </div>
    <div class="div-aboutCollege" id="div-aboutCollege"></div>
</div>
</div>