<script src="../ckeditor/build/ckeditor.js"></script>
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>



<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#!/">
            <div class="sidebar-brand-text mx-3">ADMIN PANEL</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/#!/admin-home">
                <i class="fa fa-fw fa-home"></i>
                <span>Колледж (aboutCollege)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#!/admin-governance">
                <i class="fa fa-fw fa-users"></i>
                <span>Руководство (governance)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#!/admin-structure-and-governing-bodies">
                <i class="fa fa-fw fa-university"></i>
                <span>Структура и органы управления (structureAndGoverningBodies)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/#!/admin-other-settings">
                <i class="fa fa-fw fa-cogs"></i>
                <span>Прочие настройки</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div class="sidebar-brand-text mx-3"><h5>Прочие настройки</h5></div>

                <ul class="navbar-nav ml-auto">
                    <a href="/#!/logout" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fa fa-arrow-right"></i>
                    </span>
                        <span class="text">Выход</span>
                    </a>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="row no-margin container-fluid">
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="formControlInput0">Url для подключения файла с расписанием</label>
                            <input type="text" class="form-control" id="formControlInput0">
                        </div>
                        <button class="btn btn-success btn-icon-split"
                                type="submit" id="updateConnectionSetup"> <span
                                class="icon text-white-50">
                      <i class="fa fa-download"></i>
                    </span>
                            <span class="text">Изменить</span>
                        </button>
                    </form>
                </div>
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="formControlInput1">Время перехода на начальную страницу (мин.)</label>
                            <input ng-class="(vm.formModel.time.valid) ? '': 'is-invalid'"
                                   ng-model="vm.formModel.time.value" ng-keyup="vm.validate()"
                                   type="text" class="form-control" id="formControlInput1">
                            <div ng-class="(vm.formModel.time.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                                {{vm.formModel.time.infoText}}
                            </div>
                        </div>
                        <button ng-disabled="!vm.formWasValidated" class="btn btn-success btn-icon-split"
                                type="submit" id="updateTimeUpdate"> <span
                                class="icon text-white-50">
                      <i class="fa fa-download"></i>
                    </span>
                            <span class="text">Изменить</span>
                        </button>
                    </form>
                </div>
<!--            <div class="col-6">-->
<!--                <div>-->
<!--                    <h1>Hello <span class="btn btn-success btn-icon-split">Angular</span> 9</h1>-->
<!--                    <p>-->
<!--                        Angular 9 представляет модульную архитектуру приложения-->
<!--                    </p>-->
<!--                </div>-->
<!--                <button id="test">Toggle</button>-->
<!--            </div>-->
            </div>
        <br><br>
            <div class="row no-margin container-fluid">
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="formControlInput2">Url для подключения файла с новостями для абитуриентов</label>
                            <input type="text" class="form-control" id="formControlInput2">
                        </div>
                        <button class="btn btn-success btn-icon-split"
                                type="submit" id="updateConnectionSetup2"> <span
                                class="icon text-white-50">
                      <i class="fa fa-download"></i>
                    </span>
                            <span class="text">Изменить</span>
                        </button>
                    </form>
                </div>
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="formControlInput3">Url для подключения файла с новостями для студентов</label>
                            <input type="text" class="form-control" id="formControlInput3">
                        </div>
                        <button class="btn btn-success btn-icon-split"
                                type="submit" id="updateConnectionSetup3"> <span
                                class="icon text-white-50">
                      <i class="fa fa-download"></i>
                    </span>
                            <span class="text">Изменить</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>