<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>




<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#!/">
            <div class="sidebar-brand-text mx-3">ADMIN PANEL</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/#!/admin-home">
                <i class="fas fa-fw fa-list-alt"></i>
                <span>Колледж (aboutCollege)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#!/admin-governance">
                <i class="fas fa-fw fa-list-alt"></i>
                <span>Руководство (governance)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/#!/admin-structure-and-governing-bodies">
                <i class="fas fa-fw fa-list-alt"></i>
                <span>Структура и органы управления (structureAndGoverningBodies)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#!/admin-enrollee">
                <i class="fas fa-fw fa-list-alt"></i>
                <span>Абитуриенту (enrollee)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#!/admin-student">
                <i class="fas fa-fw fa-list-alt"></i>
                <span>Студенту (student)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#!/admin-other-settings">
                <i class="fas fa-fw fa-list-alt"></i>
                <span>Прочие настройки</span></a>
        </li>



        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div class="sidebar-brand-text mx-3"><h5>Структура и органы управления</h5></div>

                <ul class="navbar-nav ml-auto">
                    <a href="/#!/logout" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fa fa-arrow-right"></i>
                    </span>
                        <span class="text">Выход</span>
                    </a>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="row no-margin container-fluid">
                <div class="col-4">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Example select</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                            </select>
                        </div>
                        <button class="btn btn btn-info btn-icon-split" type="submit" id="searchDataStructureAndGoverningBodies">
                            <span class="icon text-white-50">
                                <i class="fa fa-search"></i>
                            </span>
                            <span class="text">Найти</span>
                        </button>
                    </form>
                </div>
                <div class="col-8" id="divUpdateGovernance">
                </div>
                <div class="col-4"></div>
                <div class="col-8">
                    <button class="btn btn btn-success btn-icon-split" style="display: none" type="submit" id="updateDataStructureAndGoverningBodies">
                        <span class="icon text-white-50">
                            <i class="fa fa-download"></i>
                        </span>
                        <span class="text">Изменить</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>