<div class="container-bg-plus" id="containerBgPlus">
    <div class="divMode1" id="divMode1"></div>
    <div class="row">
        <div class="col-12 main text-center">
            <b class='time-sm' id="time">00:00</b>
            <p class='date-sm' id="date">Понедельник, 20 апреля</p>
        </div>
        <div class="col-2 undo" id="undo">
            < Назад
        </div>
    </div>
    <div class="div-12 header1">Абитуриенту</div>
    <div class="divContent" id="divContent">
<!--        <div class="col-12 block-SaGB">-->
<!--            <div data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
<!--                <div class="row header3-no-margin">Контрольные цифры приема на 2020</div>-->
<!--                <div class="row text2vw">Контрольные цифры приема на 2020 год за счет средств бюджета Нижегородской области.</br>По всем вопросам приемной комиссии обращаться по телефону 433-95-30</div>-->
<!--                <div class="row text2vw">-->
<!--                    <div class="collapse" id="collapseExample">-->
<!--                        <table class="table text1-5vw table-bordered w-auto">-->
<!--                            <thead class="thead-light">-->
<!--                            <tr>-->
<!--                                <th scope="col"></th>-->
<!--                                <th scope="col">Код и наименование профессий, специальностей</th>-->
<!--                                <th scope="col">Срок обучения</th>-->
<!--                                <th scope="col">Кол-во групп</th>-->
<!--                                <th scope="col">Прием, чел.</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <td></td>-->
<!--                                <td><b>Всего</b></td>-->
<!--                                <td></td>-->
<!--                                <td>16</td>-->
<!--                                <td>400</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1.</td>-->
<!--                                <td>По программам подготовки квалифицированных рабочих, служащих, всего</td>-->
<!--                                <td></td>-->
<!--                                <td>4</td>-->
<!--                                <td>100</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1.1.</td>-->
<!--                                <td>На базе среднего общего образования (11 классов)</td>-->
<!--                                <td></td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1.1.1.</td>-->
<!--                                <td>11.01.01  Монтажник РЭА и приборов</td>-->
<!--                                <td>10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1.2.</td>-->
<!--                                <td>На базе основного общего образования (9 классов)</td>-->
<!--                                <td></td>-->
<!--                                <td>3</td>-->
<!--                                <td>75</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1.2.1.</td>-->
<!--                                <td>11.01.01  Монтажник РЭА и приборов</td>-->
<!--                                <td>2 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1.2.2.</td>-->
<!--                                <td>15.01.23  Наладчик станков и оборудования в механообработке</td>-->
<!--                                <td>3 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1.2.3.</td>-->
<!--                                <td>15.01.32 Оператор станков с программным управлением</td>-->
<!--                                <td>2 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.</td>-->
<!--                                <td>По программам подготовки специалистов среднего звена, всего</td>-->
<!--                                <td></td>-->
<!--                                <td>12</td>-->
<!--                                <td>300</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.</td>-->
<!--                                <td>Очная форма обучения, всего</td>-->
<!--                                <td></td>-->
<!--                                <td>12</td>-->
<!--                                <td>300</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.1.</td>-->
<!--                                <td>На базе среднего общего образования (11 классов)</td>-->
<!--                                <td></td>-->
<!--                                <td>2</td>-->
<!--                                <td>50</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.1.1.</td>-->
<!--                                <td>09.02.01 Компьютерные системы и комплексы</td>-->
<!--                                <td>2 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.1.2.</td>-->
<!--                                <td>11.02.02 Техническое обслуживание и ремонт радиоэлектронной техники (по отраслям)</td>-->
<!--                                <td>2 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.</td>-->
<!--                                <td>На базе основного общего образования (9 классов)</td>-->
<!--                                <td></td>-->
<!--                                <td>10</td>-->
<!--                                <td>255</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.1.</td>-->
<!--                                <td>09.02.01 Компьютерные системы и комплексы</td>-->
<!--                                <td>3 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.2.</td>-->
<!--                                <td>09.02.07 Информационные системы и программирование</td>-->
<!--                                <td>3 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.3.</td>-->
<!--                                <td>10.02.05 Обеспечение информационной безопасности автоматизированных систем</td>-->
<!--                                <td>3 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.4.</td>-->
<!--                                <td>11.02.01 Радиоаппаратостроение</td>-->
<!--                                <td>3 года 10 мес.</br>-->
<!--                                    4 года 10 мес.</td>-->
<!--                                <td>1</br></br>1</td>-->
<!--                                <td>25</br></br>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.5.</td>-->
<!--                                <td>11.02.12  Почтовая связь</td>-->
<!--                                <td>3 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.6.</td>-->
<!--                                <td>11.02.11 Сети связи и системы коммутации</td>-->
<!--                                <td>3 года 6 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.7.</td>-->
<!--                                <td>11.02.16 Монтаж, техническое обслуживание и ремонт электронных приборов и устройств</td>-->
<!--                                <td>4 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.8.</td>-->
<!--                                <td>12.02.03 Радиоэлектронные приборные устройства</td>-->
<!--                                <td>3 года 10 мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2.1.2.9.</td>-->
<!--                                <td>15.02.15 Технология металлообрабатывающего производства</td>-->
<!--                                <td>4 года 10мес.</td>-->
<!--                                <td>1</td>-->
<!--                                <td>25</td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>