<div class="container-bg-plus" id="containerBgPlus">
    <div class="divMode1" id="divMode1"></div>
    <div class="row">
        <div class="col-12 main text-center">
            <b class='time-sm' id="time">00:00</b>
            <p class='date-sm' id="date">Понедельник, 20 апреля</p>
        </div>
        <div class="col-3 undo" id="undo">
            < Назад
        </div>
    </div>
    <div class="content" id="content">
        <div class="div-header">Руководство</div>
        <hr>
        <div class="div-header-2">Руководитель образовательной организации</div>
        <div class="block-governance" >
<!--            <div class="row header-work-schedule">Контактные телефоны руководства</div>-->
            <div class="header-for-governance" id="directorPosition"></div>
            <div class="name-governance" id="directorFullName"></div>
            <div class="row no-margin">
                <div class="col-12 info-governance-pl" id="directorAdditionally"></div>
                <div class="col-3 info-governance" id="directorTelephone"></div>
                <div class="col-3 info-governance" id="directorEmail"></div>
                <div class="col-6 info-governance-place" id="directorLocation"><b>Место нахождения</b><br /></div>
            </div>
        </div>
        <hr>
        <div class="div-header-2">Заместители директора</div>

    </div>
</div>