<div ng-class="vm.mode==='mode1' ? 'container-bg-mftvi' : 'container-bg'">
    <!--    <div id="hidden_content" style="display: none; height: 50%"></div>-->
    <div class="divMode1" id="divMode1"></div>
    <div class="row">
        <div class="col-7 main">
            <p class="gbp">ГБПОУ</p>
            <p class="nntc">«Нижегородский</p>
            <p class="nntc">радиотехнический</p>
            <p class="nntc">колледж»</p>
        </div>
        <div class="col-5 main">
            <b class='time' id="time">00:00</b>
            <p class='date' id="date">Понедельник, 20 апреля</p>
        </div>
    </div>
    <div class="row info-row1">
        <div class="info info-l" id="aboutCollege">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/logo_nntc.svg">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Колледж</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="info info-r" id="enrollee">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/enrollee.svg">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Абитуриенту</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="info info-l" id="student">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/student.svg">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Студенту</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="info info-r" id="schedule">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/schedule.svg">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Расписание</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="row info-row1">-->
<!--        <div class="sq sq-l">-->
<!--            <div class="sq-wrapper">-->
<!--                <div class="sq-content">-->
<!--                    <div class="row no-margin">-->
<!--                        <div class="img-for-sq">-->
<!--                            <img src="/img/k.jpg" class="k">-->
<!--                        </div>-->
<!--                        <div class="space-for-sq"></div>-->
<!--                        <div class="text-for-sq">Новости</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sq sq-m" id="schedule">-->
<!--            <div class="sq-wrapper">-->
<!--                <div class="sq-content">-->
<!--                    <div class="row no-margin">-->
<!--                        <div class="img-for-sq">-->
<!--                            <img src="/img/k.jpg" class="k">-->
<!--                        </div>-->
<!--                        <div class="space-for-sq"></div>-->
<!--                        <div class="text-for-sq">Расписание</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sq sq-m">-->
<!--            <div class="sq-wrapper">-->
<!--                <div class="sq-content">-->
<!--                    <div class="row no-margin">-->
<!--                        <div class="img-for-sq">-->
<!--                            <img src="/img/k.jpg" class="k">-->
<!--                        </div>-->
<!--                        <div class="space-for-sq"></div>-->
<!--                        <div class="text-for-sq">Мероприятия</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sq sq-r">-->
<!--            <div class="sq-wrapper">-->
<!--                <div class="sq-content">-->
<!--                    <div class="row no-margin">-->
<!--                        <div class="img-for-sq">-->
<!--                            <img src="/img/k.jpg" class="k">-->
<!--                        </div>-->
<!--                        <div class="space-for-sq"></div>-->
<!--                        <div class="text-for-sq">Объявления</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="help-button-1" id="hb1">-->
<!--        <div class="help-button-2">-->
<!--            <div class="help-button-3">-->
<!--                <div class="help-button-4">-->
<!--                    <img src="/img/invalid.png">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>