<div class="container-bg-plus">
    <!--    <div id="hidden_content" style="display: none; height: 50%"></div>-->
    <div class="divMode1" id="divMode1"></div>
    <div class="row header-nntc">
        <div class="col-7 main">
            <p class="gbp">ГБПОУ</p>
            <p class="nntc">«Нижегородский</p>
            <p class="nntc">радиотехнический</p>
            <p class="nntc">колледж»</p>
        </div>
        <div class="col-5 main">
            <b class='time' id="time">00:00</b>
            <p class='date' id="date">Понедельник, 20 апреля</p>
        </div>
    </div>
    <div class="row info-row1">
        <div class="info info-l" id="aboutCollege">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/logo_nntc.svg">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Колледж</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="info info-r" id="enrollee">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/enrollee.svg">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Абитуриенту</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="info info-l" id="student">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/student.svg">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Студенту</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="info info-r" id="schedule">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/schedule.svg">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Расписание</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>