<div class="container-bg">
    <div class="row">
        <div class="col-7 main">
            <p class="gbp">ГБПОУ</p>
            <p class="nntc_1">«Нижегородский</p>
            <p class="nntc">радиотехнический</p>
            <p class="nntc">колледж»</p>
        </div>
        <div class="col-5 main">
            <b class='time' id="time">00:00</b>
            <p class='date' id="date">Понедельник, 20 апреля</p>
        </div>
    </div>
    <div class="row info-row">
        <div class="info-l">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/k.jpg" class="k">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                <table class="h-w-100">
                    <tr>
                        <td class="td-vertical-align-middle">Колледж</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        <div class="info-l">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/k.jpg" class="k">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Абитуриенту</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="info-l">
            <div class="row no-margin">
                <div class="col-img">
                    <img src="/img/k.jpg" class="k">
                </div>
                <div class="col-space"></div>
                <div class="col-80-text">
                    <table class="h-w-100">
                        <tr>
                            <td class="td-vertical-align-middle">Студенту</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="help-button-1">
        <div class="help-button-2">
            <div class="help-button-3">
                <div class="help-button-4">
                    <img src="/img/invalid.png">
                </div>
            </div>
        </div>
    </div>
</div>