<div class="container-bg-plus">
    <!--    <div id="hidden_content" style="display: none; height: 50%"></div>-->
    <div id="hidden_content" style="height: 0px"></div>
    <div class="row row-for-time">
        <div class="col-12 main text-center">
            <b class='time-sm' id="time">00:00</b>
            <p class='date-sm' id="date">Понедельник, 20 апреля</p>
        </div>
    </div>

    <div class="div-shedule" id="div-schedule">
        <!--        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
        <!--            Кнопка с data-target-->
        <!--        </button>-->
        <!--        <div class="collapse" id="collapseExample">-->
        <!--            <div class="card card-body">-->
        <!--                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.-->
        <!--            </div>-->
        <!--        </div>-->

<!--        <div>-->
<!--            <div class="row no-margin">-->
<!--                <div class="col-12 schedule-for-the-day no-margin no-padding" id="scheduleDate0">Расписание на Вторник, 5 мая-->
<!--                </div>-->
<!--                <hr>-->
<!--            </div>-->
<!--            <div class="row no-margin" id="scheduleRow0">-->
<!--                <div>-->
<!--                    <div class="sq sq-l">-->
<!--                        <div class="sq-wrapper"><div class="sq-content">-->
<!--                            <div class="row no-margin"><div class="text-for-sq-gr">Группа-->
<!--                            </div>-->
<!--                                <div class="text-for-sq" id="scheduleDate0scheduleGroupName0">4ПКС-16-2-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="sq sq-m">-->
<!--                        <div class="sq-wrapper">-->
<!--                            <div class="sq-content">-->
<!--                                <div class="row no-margin">-->
<!--                                    <div class="text-for-sq-gr">Группа-->
<!--                                    </div>-->
<!--                                    <div class="text-for-sq" id="scheduleDate0scheduleGroupName1">4ПКС-16-1-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>