<div class="container-bg-plus">
    <!--    <div id="hidden_content" style="display: none; height: 50%"></div>-->
    <div id="hidden_content" style="height: 0px"></div>
    <div class="row">
        <div class="col-12 main text-center">
            <b class='time-sm' id="time">00:00</b>
            <p class='date-sm' id="date">Понедельник, 20 апреля</p>
        </div>
    </div>

    <div class="div-shedule" id="div-schedule">
                <div class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Кнопка с data-target
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="cardd">
                        Anim pariatur
                    </div>
                </div>


<!--        <div class="sq sq-l">-->
<!--            <div class="sq-wrapper">-->
<!--                <div class="sq-content">-->
<!--                    <div class="row no-margin">-->
<!--                        <div class="text-for-sq-gr-test">-->
<!--                            Группа-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row no-margin">-->
<!--                        <div class="text-for-sq-test" id="scheduleDate0scheduleGroupName01">-->
<!--                            4ПКС-16-2-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

</div>