<div class="container-bg-plus" id="containerBgPlus">
    <div class="divMode1" id="divMode1"></div>
    <div class="row">
        <div class="col-12 main text-center">
            <b class='time-sm' id="time">00:00</b>
            <p class='date-sm' id="date">Понедельник, 20 апреля</p>
        </div>
        <div class="col-3 undo" id="undo">
            < Назад
        </div>
    </div>
    <div class="div-12 header1">Структура и органы управления образовательной организацией</div>
    <div class="divContent" id="divContent">

<!--        <div class="col-12 block-SaGB">-->
<!--            <div class="row header2">Структура образовательной организации</div>-->
<!--            <div class="row header3">Первый учебно-административный корпус</div>-->
<!--            <div class="row text2vw">Адрес: 603950, г. Нижний Новгород, ул. Студенческая, д. 6.<br>-->
<!--                Телефон для справок: 8 (831) 433-95-35<br>-->
<!--                Электронная почта: nntc@mts-nn.ru, mail@nntc.nnov.ru<br>-->
<!--                Сайт: nntc.nnov.ru-->
<!--            </div>-->
<!--            <div class="row header3">Второй учебный корпус</div>-->
<!--            <div class="row text2vw">Адрес: г. Нижний Новгород, ул. героя Шапошникова, д. 10.<br>-->
<!--                Телефон для справок: 8 (831) 466-33-88<br>-->
<!--                Электронная почта: nrtk-2@yandex.ru-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>