<div class="container-bg-plus" id="containerBgPlus">
    <div class="divMode1" id="divMode1"></div>
    <div class="row">
        <div class="col-12 main text-center">
            <b class='time-sm' id="time">00:00</b>
            <p class='date-sm' id="date">Понедельник, 20 апреля</p>
        </div>
        <div class="col-3 undo" id="undo">
            < Назад
        </div>
    </div>
    <div class="div-12 header1">Студенту</div>
    <div class="divContent" id="divContent">
    </div>
</div>